.breadcrumb-container {
    font-size: 12px;
    padding: 20px 0;
  }
  
  .breadcrumb-link {
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    color: #000;
  }
  
  
  .breadcrumb-label {
    font-weight: 700;
    color: #000;
  } 